*{
	padding: 0px;
	margin: 0px;
}
#container{
	display: grid;
	grid-template-columns: 30% 70%;
}
form,table,th,td{
	border: 1px solid black;
}
form{
	padding: 10px;
	margin: 10px;
	max-height: 500px;
}
table{
	margin: 10px;
}
label{
	float: left;
	width: 100px;
	line-height: 35px;
}
#button{
	text-align: right;
}
input{
	width: 200px;
	margin: 10px;
}
button{
	margin: 10px;
	padding: 5px;
}
thead{
	text-align: center;
}
td,th{
	padding: 10px;
}
@media screen and (max-width:800px){
	#container{
		grid-template-columns: 100%;
	}
} 